/* General and support classes */

h1,h2,h3,p{
  font-family: 'Montserrat';
}

.off-head{
  margin-left: 30px;
}

.container{
  width: 100%;
  height: 100%;
  display: flex;
  box-sizing: border-box;
}

.card{
  background-color: white;

}
.card > li {
  text-align: center;
  margin-bottom: 10px;
  margin: 30px 30px 20px 30px;
}

.card2{
    background: white;
    border-radius: 10px;
    box-sizing: border-box;
    margin: 20px 20px 6vh 20px;
    text-align: center;
    box-shadow: white 2px 2px 1px;
}
.card2 h1{
  padding-top: 20px;
  color: rgba(0, 0, 0,0.78);
  font-size: larger;
}
.card2 hr{
  width: 85%;
  margin: 0 auto;
}


.sub{
line-height: 2em;
padding: 0;
margin: 0 2em;
margin-bottom: 20px;
text-align: left;
}

/* Media Queries */

@media only screen and (max-width: 780px) {
  .spec {
    width: 80%;
  }
  .card{
    width: 100%;
  }
  .sub{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (max-width: 518px){
  .sub{
    align-items: normal;
  }
}

@media only screen and (max-width: 555px){
  .contact h1{
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 899px){
  
  .card{
    width: 100%! important;
  }
  .sub{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
  

@media only screen and (max-width: 1374px){
  .spec{
    width: 70%;
    padding-top: 50px;
    margin: 0 auto 0 auto;
  }

  .card{
    width: 45%;
  }
}
  






/* Navigation Header */
.nav-bar{
  height: 50px;
  background-color: rgba(0, 0, 0,0.78);
  display: flex;
  position: fixed;
  z-index: 2 !important; 
  width: 100%;
}

.brand{
  display: flex;
  width: auto;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.brand > a{
  text-decoration: none;
}

.brand_text{
  color: white;
  margin: auto 0 auto 3.5vw;
}

.gap{
  width: 60%;
  height: 100%;
}

.socials{
  height: 100%;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.socials a{
  margin: 0 5px;
}

.socials a i{
  color: white;
}

.top_nav {
  display: flex;
  width: 100%;
  list-style: none;
  padding: 0;
  justify-content: space-around;
  height: auto;
  z-index: 2 !important; 
}
.top_nav li  {
  margin: auto;
}
.top_nav li a {
  text-decoration: none;
  color: white;
  font-family: 'Montserrat';
}







/* Home page */
.s1{
  background-color: rgb(239, 231, 231);
}
.home{
  margin-left: 3.5vw;
}
.home p{
  margin-bottom: 0;
  color: black;
}
.home_intro{
  margin-top: 70px;
  color: black;
}

.spec{
  font-family: 'Montserrat';
  margin-top: 0;
  display: flex;
  /* justify-content: space-around; */
  flex-wrap: wrap;
  list-style: none;
}
.spec div{
  margin: 20px 30px 0 0;
}

/* Skills Page */

.skills{
  /* background-color: rgba(0, 0, 0,0.78);  */
}

.tech{
  font-size: 3em;
  margin-bottom: 1em;
  text-align: center;
  color: rgba(0, 0, 0,0.78);
}

.skills h1{
  font-family:'Montserrat';

}

.col-3 img{
  max-width: 60px;
  margin: 10px;
}







.work{
  background-color: yellow;
}


.contact{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgba(0, 0, 0,0.78);
}
.contact h1{
  color: white;
}